{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Faculty of CSE Discipline</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="{% static 'css/faculty_style.css' %}">

</head>
<body>



<section class="cards-wrapper">
  <div class="card-grid-space">
    <div class="num">01</div>
    <a class="card" href="https://www.iitbhilai.ac.in/index.php?pid=dhiman" style="--bg-img: url(https://www.iitbhilai.ac.in/index.php?pid=img_saha)">
      <div>
        <h1>Dr. Dhiman Saha</h1>
        <p>Asstt. Prof. at Deptt. of EECS. Computer science and Crypto.</p>
        
        <div class="tags">
          <div class="tag">Know more</div>
        </div>
      </div>
    </a>
  </div>
  <div class="card-grid-space">
    <div class="num">02</div>
    <a class="card" href="https://www.iitbhilai.ac.in/index.php?pid=santosh" style="--bg-img: url('https://www.iitbhilai.ac.in/index.php?pid=img_santosh')">
      <div>
        <h1>Dr. Santosh Biswas </h1>
        <p>Asso Prof. at Deptt of EECS. VLSI and embedded system.</p>
        
        <div class="tags">
          <div class="tag">Know more</div>
        </div>
      </div>
    </a>
  </div>
  <div class="card-grid-space">
    <div class="num">03</div>
    <a class="card" href="https://www.iitbhilai.ac.in/index.php?pid=souryadyuti" style="--bg-img: url('https://iitbhilai.ac.in/index.php?pid=img_soura')">
      <div>
        <h1>Dr. Souryadyuti Paul</h1>
        <p>Asso Prof. at Deptt of EECS. Blockchain and cryptocurrencies.</p>
        
        <div class="tags">
          <div class="tag">Know more</div>
        </div>
      </div>
    </a>
  </div>
  
</section>


 
      
      
      
    </div>
  </div>

  
</body>
</html>