{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Why CSE @IIT Bhilai?</title>
  <link rel="stylesheet" href="{% static 'css/y_style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <div class="content">
    <h1>Why CSE Discipline @IIT Bhilai?</h1>
    <h3>The CSE discipline is part of the department of Electrical Engineering and Computer Science (EECS) was formed at IIT Bhilai in April 2018, by merging the departments of Computer Science and Engineering and Electrical Engineering.<br>The department strives to prepare its students to be independent and innovative.

 </h3>
  </div>
  <div class="flap"></div>
</div>
<!-- partial -->
  
</body>
</html>
