{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Why CSE @IIT Bhilai?</title>
  <link rel="stylesheet" href="{% static 'css/y_style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <header>
    <div class="menu-toggle" data-js="menu-toggle">
      <span class="menu-toggle-grippy">Toggle</span>
      <span class="menu-toggle-label">Menu</span>
    </div>
  </header>
  <div class="hidden-panel">
      
    <span class="hidden-panel-close" data-js="hidden-panel-close">Close</span>
    
    <div class="hidden-panel-content">
      
      <nav class="hidden-panel-nav">
        <h3>Quick Look</h3>
        <ul>
          <li><a href="{% url 'home' %}" title="Home">Home</a></li>
          <li><a href="{% url 'faculty' %}" title="Faculty">Faculty</a></li>
          <li><a href="{% url 'courses' %}" title="Course">Course</a></li>
          <li><a href="{% url 'ycse' %}" title="Y">Why CSE@IIT BHILAI?</a></li>
        </ul>
      </nav>
      
</div>  
      
      
      
    </div>
  </div>
  <div class="container1">
  <div class="content">
    <h1>Why CSE Discipline @IIT Bhilai?</h1>
    <h3>The CSE discipline is part of the department of Electrical Engineering and Computer Science (EECS) was formed at IIT Bhilai in April 2018, by merging the departments of Computer Science and Engineering and Electrical Engineering.<br>The department strives to prepare its students to be independent and innovative.

 </h3>
  </div>
  <div class="flap"></div>
</div>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src = "{% static 'js/script.js' %}"> </script>
  
</body>
</html>
