@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');

body {
  background: #f2f2f2;
  left: 0;
  line-height: 1.35;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  transition: left 0.3s ease-in-out;
}

.container1  {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 600px;
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
}

.content {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  text-align: justify;
  color: black;
  padding: 40px;
  font-family: 'Merriweather', serif;
}

h1 {
  font-weight: 900;
  text-align: center;
}

h3 {
  font-weight: 300;
}

.flap {
  width: 100%;
  height: 100%;
}

.flap::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  background: url("https://pbs.twimg.com/profile_images/1347260174176710658/2GfSZ1i__400x400.jpg") white;
  background-position: 100px;
  background-repeat: no-repeat;
  transition: 1s;
}

.flap::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  right: 0;
  background: url("https://pbs.twimg.com/profile_images/1347260174176710658/2GfSZ1i__400x400.jpg") white;
  background-position: -200px;
  background-repeat: no-repeat;
  transition: 1s;
}

.container1:hover .flap::after {
  transform: translatex(300px);
}

.container1:hover .flap::before{
  transform: translatex(-300px);
}


body.panel-open {
  left: -250px;
}

.container {
  min-height: 1000px;
}

a {
  outline: 0;
  text-decoration: none;
}

.container:before, header:before, .menu-toggle:before, .container:after, header:after, .menu-toggle:after {
  content: "";
  display: table;
}

.container:after, header:after, .menu-toggle:after {
  clear: both;
}

header {
  color: #333;
  padding: 3em 5%;
  position: relative;
  width: 90%;
  z-index: 2;
}

.menu-toggle {
  cursor: pointer;
  float: right;
  font-size: 0.875rem;
  transition: all 0.3s ease-in-out;
}
.menu-toggle.open {
  opacity: 0.5;
}

.menu-toggle-grippy {
  border-bottom: 5px solid #333;
  border-top: 5px solid #333;
  float: left;
  line-height: 0;
  margin-right: 1em;
  padding: 5px 0;
  text-indent: -999em;
  width: 35px;
}
.menu-toggle-grippy:after {
  background: #333;
  content: "";
  display: block;
  height: 5px;
}

.menu-toggle-label {
  float: left;
  font-weight: 700;
  height: 25px;
  letter-spacing: 1px;
  line-height: 25px;
  text-transform: uppercase;
}

.hidden-panel {
  background: #333;
  color: #666;
  font-size: 0.875rem;
  height: 100%;
  position: absolute;
  right: -250px;
  top: 0;
  width: 250px;
}
.hidden-panel a {
  color: #999;
  transition: color 0.3s ease-out;
}
.hidden-panel a:hover {
  color: #fff;
}

.hidden-panel-close {
  color: #666;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 3.7em;
  transition: color 0.3s ease-in-out;
}
.hidden-panel-close:hover {
  color: #fff;
}

.hidden-panel-content {
  padding: 3.65em 10%;
}

.hidden-panel-nav {
  border-bottom: 1px solid #666;
  border-bottom: 1px solid rgba(102, 102, 102, 0.25);
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  text-transform: uppercase;
}
.hidden-panel-nav h3 {
  letter-spacing: 1px;
  margin-bottom: 1em;
}
.hidden-panel-nav ul {
  list-style: none;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.hidden-panel-nav li {
  padding: 0.25em 0;
}

.hidden-panel-text {
  line-height: 1.5;
}
.hidden-panel-text p {
  margin-bottom: 1.5em;
}
.hidden-panel-text p:last-child {
  margin-bottom: 0;
}

.hidden-panel-credits {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.5;
}
.hidden-panel-credits span {
  display: block;
  margin-bottom: 0.15em;
}

